@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
}

.container
{
  display: flex;
  position: relative;
}

.container .left
{
  width: 35%;
  height: 100vh;
  background:yellowgreen;
}

.container .left img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .left .logo
{
  width: 100px;
  position: absolute;
  top: 8%;
  left: 8%;
}




.container .right
{
  width: 65%;
  height: 100vh;
  background:#F5F2F0;
  position: relative;
}

.container .right .right-list
{
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  gap: 4rem;
  margin-right: 5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.container .right .right-list .line
{
  width: 300px;
  height: 2px;
  background: black;
}

.right .social-right{
  position: absolute;
  right: 5em;
  top: 6em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.right .social-right span
{
  font-size: 1.2em;
  cursor: pointer;
}

.right .package
{
   position: absolute;
   right: 5em;
   top: 16em;
}

.right .package p
{
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1.1;
}

.right .package button
{
  width: 220px;
  padding: 10px ;
  border: none;
  background: #222;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}
